[submodule "socle"]
	path = socle
	url = ssh://git@github.com/astibal/socle
	branch = master
	update = merge
[submodule "ext/argparse"]
	path = ext/argparse
	url = https://github.com/astibal/argparse.git
