[submodule "socle"]
	path = socle
	url = ../socle.git
	branch = 0.9.31
	update = merge

[submodule "src/ext/libcli"]
	path = src/ext/libcli
	url = ../libcli
	branch = main

[submodule "src/ext/lmhpp"]
	path = src/ext/lmhpp
	url = ../lmhpp
