Source: smithproxy
Maintainer: Ales Stibal <astib@mag0.net>
Section: misc
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9)

Package: smithproxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
                            libstdc++6 (>= 8.3.0),
                            libssl1.1 (>=1.1.1),
                            libconfig++9v5,
                            libcli1.9 (>=1.9.6),
                            libunwin8,
                            iptables,
                            python3,
                            python3-pip,
                            python3-ldap,
                            python3-pyparsing,
                            python3-posix-ipc,
                            python3-zeep,
                            iproute2,
                            telnet,
                            python3-pyroute2,
                            python3-dev,
                            libssl-dev,
                            swig
Description:
 Feature-rich and fast transparent and SOCKS5 proxy supporting TCP/UDP/SSL.
 Uses TPROXY rules to divert traffic to smithproxy listening ports,
 controls traffic with policies and applied feature profiles.

